.App {
  text-align: center;
  background-color:#F3F7F0;
}

body {
  background-color: #f3f7f0
}

.page {
  background-color: #f3f7f0
}

.App h1 {
  margin-top: 35px;
  font-size: 2.8em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


h1 {
  font-family: 'Kosugi Maru', regular;
}

nav {
  height: 50px;
  width: 75vw;
  display: flex;
  flex-direction: row;
  position: sticky;
  margin-bottom: 1.5%;
  margin-left: 12vw;
  border-bottom: 3px solid #dddddd;
  color: #C3C3E6;
}

nav a div {
  width: 10vw;

}

.logo {
  margin-left: -1.5vw;
  padding-right: 37vw;
  width: 150px;
  font-family: 'Kosugi Maru', regular;
  font-size: 30px;
  opacity: 1;
}

.logo:hover{
  text-shadow: 2px 2px 3px #dddddd;
}

nav a{
  padding: 20px 0 20px 0;
  line-height: 25px;
  font-family: 'Anaheim', regular;
  font-size: 20px;
  text-decoration: none;
}

nav a:not(:first-child){
  padding-top: 21px;
}

nav a:hover {
  opacity: 1;
}

nav a:visited {
  color: #13505B;  
}


p {
  font-family: 'Playfair Display', serif;
}

.home-carousel {
  user-select: none;
}
