.App {
  text-align: center;
  background-color: #f3f7f0;
}

p {
  font-family: "Playfair Display", serif;
}

body {
  background-color: #f3f7f0;
}

.page {
  background-color: #f3f7f0;
}

.App h1 {
  margin-top: 35px;
  font-size: 2.8em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  font-family: "Kosugi Maru", regular;
}

nav a {
  padding: 20px 0 20px 0;
  line-height: 25px;
  font-family: "Anaheim", regular;
  font-size: 20px;
  text-decoration: none;
}

nav {
  height: 50px;
  width: 75vw;
  display: flex;
  flex-direction: row;
  position: sticky;
  margin-bottom: 1.5%;
  margin-left: 12vw;
  border-bottom: 3px solid #dddddd;
  color: #c3c3e6;
}

nav a div {
  width: 10vw;
}

nav a:not(:first-child) {
  padding-top: 21px;
}

nav a:hover {
  opacity: 1;
}

nav a:visited {
  color: #13505b;
}

.foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.foot img.logo-cap {
  width: 180px;
}

.logo {
  margin-left: -1.5vw;
  margin-right: calc(57vw - 250px);
  min-width: 250px;
  font-family: "Kosugi Maru", regular;
  font-size: 30px;
  opacity: 1;
}

.logo:hover {
  text-shadow: 2px 2px 3px #dddddd;
}

.notice {
  position: fixed;

  right: 14px;
  top: 48vh;

  height: 120px;
  width: 120px;
 

  line-height: 30px;

  font-weight: bold;
}

.notice::before {
  background-color: #088eb1;
  content: "";
  animation: pulse 6s infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;

  transition: 400ms all;
}

.notice:hover::before {
  background-color: #86c306;
}

.notice a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 75%;
  margin-top: 10%;
  position: absolute;
  width: 100%;

  color: white !important;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #fff6;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #fff0;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #fff0;
  }
}
