.page {
  display: flex;
  flex-direction: column;
}
.form-container {
  width: 76vw;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Lato', sans-serif;
  background-color: #eeeeee;
  color: #b3aca7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 2px 2px 12px 1px #bbbbbb;
}

.form-header {
  width: 71vw;
  margin: 0 auto;
  margin-bottom: 40px;
  letter-spacing: 7px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#form {
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #13505B;
  border-bottom: none;
  transition: all 0.3s ease-in-out;

}

input:hover {
  background: #dddddd;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #13505B;
  transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #dddddd;
  color: #e2dedb;
}

#submit {
  width: 502px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  outline:none;
  cursor: pointer;
  border: solid 1px #13505B;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
  border-top: solid 1px #13505B;
}

.emailRetry {
  color:#A93F55 ;
  font-weight: 600;
  margin: 0 auto;
  width: 76vw;
  height: 50px;
  background: transparent;
  outline: none;
  transition: all 0.3s ease-in-out;
}
