.page {
  display: flex;
  flex-direction: column;
}
.form-container {
  width: 76.16vw;
  display: flex;
  flex-flow: row wrap;
  font-family: "Lato", sans-serif;
  background-color: #eeeeee;
  color: #b3aca7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 2px 2px 12px 1px #bbbbbb;
  height: 76vh;
}

.form-header {
  width: 71vw;
  margin: 0 auto;
  letter-spacing: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

#form {
  width: 500px;
  margin: 23px auto 100px auto;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: ##13505b;
  border: solid 1px #13505b;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}

input:hover {
  background: #dddddd;
  color: ##13505b;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  border: solid 1px #13505b;
  transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #dddddd;
  color: #13505b;
}

button.submit {
  width: 502px;
  height: 50px;
  padding: 0;
  margin: 16px 0px 0px 0px;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  background-color: #c3c3e6;
  outline: none;
  cursor: pointer;
  border: solid 1px #13505b;
  box-shadow: 2px 2px 6px 1px #bbbbbb;
}

#submit:hover {
  color: #13505b;
  border-top: solid 1px #13505b;
  background-color: #b2b2d2;
}

.emailInvalid {
  height: 0;
}

.emailRetry {
  float: left;
  color: #a93f55;
  font-weight: 600;
  margin: 0 auto;
  width: 76vw;
  height: 50px;
  background: transparent;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.textarea-counter {
  position: relative;
  left: 225px;
  top: 0.5vh;
}

.contact-email-div {
  position: relative;
}

.contact-email-div img {
  position: absolute;
  height: 5vh;
  left: 450px;
  top: 8px;
  z-index: 10;
}
