.home-tiles {
  position: absolute;
  width: 76vw;
  left: 11.5vw;
  background-color: #eeeeee;
  border-radius: 2px;
  box-shadow: 2px 2px 12px 1px #bbbbbb;
  margin-bottom: 2%;
}

.home-jacob {
  display: flex;
  justify-content: center;
}

.home-jacob h1{
  font-weight: 500;
  text-shadow: 3px 3px 5px #bbbbbb;

}

.home-moran{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.home-moran img{
  width:auto;
  height: 15vh;
  padding: 3vh 0;
}


.home-ferkin {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding-left: 2vw;
}

.home-ferkin img{
  width:auto;
  height: 10vh;
  padding: 6vh 0;
}

.home-jacob {
  display: flex;
  flex-direction: row;
}


.home-moran {
  display: flex;
  flex-direction: row;
  background-color: #dddddd;
}

.home-ferkin {
  display: flex;
  flex-direction: row;
}

.home-ferkin img {
  margin-left: -6%;
}

.home-page-border-1 {
  height: 4px;
  width: 100%;
  background: linear-gradient(to left, #ddd , #bbb);
}

.home-page-border-2 {
  height:4px;
  width: 100%;
  background: linear-gradient(to right, #ddd , #bbb);
}

.home-tile {
  width: 100%;
}

.home-h1-covered {
  color: rgb(19, 80, 91)
}

.home-h1-not-covered {
  color: rgb(169, 63, 85);
}

.home-h1-2 {
  align-text: justify;
}

.home-tile-text h2{
margin-left: -1.2vw;
}

.foot {
  margin top: 50px;
  display: flex;
  flex direction: row;
  justify-content: space-between;
  align-items: center;
}

.credits {

  font-size: 12px;
  padding-left: 20px;
  color: #C3C3E6;
}

.logo {


}
