.about-tiles {
  position: absolute;
  width: 76vw;
  left: 11.5vw;
  background-color: #eeeeee;
  border-radius: 2px;
  box-shadow: 2px 2px 12px 1px #bbbbbb;
  margin-bottom: 2%;
}

.about-img-div {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.about-img-div {
  margin-left: 5%;
  margin-top: 10%;
}

.about-tiles ul {
  margin-top: 5.25vh;
}

.about-img-div img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

.about-tiles h2 {
  color: #13505b;
}

.about-tiles ul {
  height: 20%;
  width: 50%;
  padding-left: none;
}

.about-tiles li {
  list-style: none;
  color: #688f96;
}

.about-issue1 {
  display: flex;
  flex-direction: row;
}

.about-issue2 {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  background-color: #dddddd;
}

.about-issue2 ul {
  padding-left: 0;
  padding-right: 5px;
}

.about-issue3 {
  display: flex;
  flex-direction: row;
}

.about-issue3 img {
  margin-left: -6%;
}

.about-page-border-1 {
  height: 4px;
  width: 100%;
  background: linear-gradient(to left, #ddd, #bbb);
}

.about-page-border-2 {
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #ddd, #bbb);
}

.about-tile {
  height: 15vh;
  padding-bottom: 8%;
  padding-left: 3%;
}

.sadFace {
  flex-grow: 1;
  height: 155%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.sadFace img {
  height: 90px;
  width: auto;
}
